@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #f1d8c9, #F2C3A7);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(95, 70, 56, 0.581);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #f39209;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(148, 89, 7, 0.452);
}

h2{
    color: #125189;
}

p{
    text-align: justify;
}